#team{
    margin-top: 16%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #626363;
    
}
#team .list{
    background: rgb(111, 216, 204);
    padding:2%;
    width: 50%;
    margin-bottom:3%;
    margin-top:3%;
    font-family: 'Source Sans Pro', sans-serif;
    color: black
}
 #team .directory {
 margin-bottom:4%;
 margin-top: 4%;
 font-family: 'Source Sans Pro', sans-serif;
}
#team h1{
    font-family: 'Source Sans Pro', sans-serif;
   color: #039D8B;

}
#team #header{
    font-weight: bold;
}
#team .body{
    margin-left :5%;
    margin-bottom: 5%;
}
@media (max-width: 880px){
    #team .list{
        width: 90%;
    }
     #team h1{
        margin-top:16%;
      
        }
    
}
