#othinv{
  margin-top: 16%;
  margin-bottom:5vh;
  height: 100%;
}
#othinv .card-img-top{
    width: 100%;
   

}

#othinv .card{
    margin-left: 5%;
    text-align:initial;
    width: 100%;
    height:100%;
}


#othinv .card-title{
    color:  #039D8B;
}
#othinv .card-subtitle{
    color:#039D8B !important;
}
.text-card{
    height:250%;
    
}
@media (max-width: 576px) {
    
    #othinv .card{
        margin-top: .3rem;
        margin-right:6rem;
    }
}
@media (max-width: 576px){
    #othinv{
        margin-top:15vh;
    }
}


